SECRET_KEY=change-this-to-a-long-random-string
DEBUG=False
ALLOWED_HOSTS=korenuvhrad.anthrobee.cz,localhost,127.0.0.1
DB_NAME=korova_chata
DB_USER=postgres
DB_PASSWORD=korova123
DB_HOST=localhost
DB_PORT=5432
SITE_PASSWORD=heslo
